<footer class="footer mt-auto py-3 bg-primary">
    <div class="container">
        <span class="text-light"><h2>Copyright © 2022 By Navjot Kaur & Yevhen</h2></span>
    </div>
</footer>
</body>

</html>